body {
  background-color: black;
  margin-top: 30px;
  text-align: center;
}

div {
  cursor: pointer;
}
.next{
      color: black;
      background-color: grey;
      height: 80px;
      width: 200px;
      border-radius: 60px 60px 150px 150px;
      position: relative;
      border: 1px solid black;
      box-shadow: white 0px 10px 10px 10px;
      text-align: center;
      font-family: "Anton", sans-serif;

  }
#begin{
      height: 80px;
      width: 200px;
      border-radius: 60px 60px 150px 150px;
      color: black;
      background-color: silver;
      font-size: 20px;
      position:relative;
      margin-left: 40px;
      margin-top: 30px;
      border: 1px solid black;
      box-shadow: white 0px 10px 10px 10px;
      font-family: "Anton", sans-serif;
  }
.button:hover {
  border: 10px solid white;
  box-shadow: inset white 60px 0px 40px 20px;
  box-sizing: border-box;
}
div#redBtn.lightup,
div#yellowBtn.lightup,
div#blueBtn.lightup,
div#greenBtn.lightup{
  background: linear-gradient(0deg, rgba(255,255,255,1),rgb(205, 255, 254)70%);
  border: black 5px;
  box-shadow:rgb(81, 255, 252) 0px 0px 0px 5px;

}
#modal{
  background-color:rgba(255,0,100,0.4);
	position: fixed; 
	top: 0;
	left: 0;
	height: 100vh;
	width:100vw;
	z-index: 1;
	overflow: auto;
	display:none;
}
#modaltext{
  height:350; 
	background-color: white;
	width:550px;
	border-radius: 5px;
	margin: 150px auto;
	/*top and bottom=150px and left and right margin auto */
	box-shadow: 20px 20px 20px rgba(0,0,0,0.2); 
	padding: 2%;
	line-height: 120%;
	font-family: "Arial";
}
#modal-footer{
	text-align: right;
}
#restartGame {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 5px;
	color: white;
	font-family: "arial";
	cursor: pointer;
}

.button {
  height: 250px;
  width: 250px;
  display: inline-block;
  /* box-shadow: inset white 0px 0px 0px 2px; */
}
#redBtn {
  background-color: red;
  border-radius: 0px 250px 0px 0px;
  border: 10px black;
}
#blueBtn {
  background-color: blue;
  border-radius: 0px 0px 250px 0px;
  
}
#yellowBtn {
  background-color: yellow;
  border-radius: 250px 0px 0px 0px;

}
#greenBtn {
  background-color: rgb(26, 141, 26);
  border-radius: 0px 0px 0px 250px;

}
#simoncirc {
    height: 170px;
    width: 180px;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin-top: 160px;
    margin-left: 42vw;
    position: absolute;
    box-shadow: 0px 0px 0px 0px;
    z-index: 1;
    font-size: 40px;
    font-family: "Anton", sans-serif;
    letter-spacing: 5px;
    line-height: 17px;
    text-align: center;
    padding-top: 15px;
    box-shadow: white 0px 0px 10px 8px;
  }
/* #button-container{
      align-items: center;
      height:450px;;
      width: 100vw;
      padding-top: 0px;
      position: sticky; 
  }
   */
