body {
  background-color: black;
  margin-top: 30px;
  text-align: center;
}

div {
  cursor: pointer;
}
.next{
      color: black;
      background-color: grey;
      height: 80px;
      width: 200px;
      border-radius: 60px 60px 150px 150px;
      position: relative;
      border: 1px solid black;
      box-shadow: white 0px 10px 10px 10px;
      text-align: center;
      font-family: "Anton", sans-serif;

  }
#begin{
      height: 80px;
      width: 200px;
      border-radius: 60px 60px 150px 150px;
      color: black;
      background-color: silver;
      font-size: 20px;
      position:relative;
      margin-left: 40px;
      margin-top: 30px;
      border: 1px solid black;
      box-shadow: white 0px 10px 10px 10px;
      font-family: "Anton", sans-serif;
  }
.button:hover {
  border: 10px solid white;
  box-shadow: inset white 60px 0px 40px 20px;
  box-sizing: border-box;
}
div#redBtn.lightup,
div#yellowBtn.lightup,
div#blueBtn.lightup,
div#greenBtn.lightup{
  background-color: white;
}
/* .lightup{
  background-color: white;
} */

.button {
  height: 250px;
  width: 250px;
  display: inline-block;
}
#redBtn {
  background-color: red;
  border-radius: 0px 250px 0px 0px;
  box-shadow: white 0px 0px 10px 2px;
}
#blueBtn {
  background-color: blue;
  border-radius: 0px 0px 250px 0px;
  box-shadow: white 0px 0px 10px 2px;
}
#yellowBtn {
  background-color: yellow;
  border-radius: 250px 0px 0px 0px;
  box-shadow: white 0px 0px 10px 2px;
}
#greenBtn {
  background-color: rgb(26, 141, 26);
  border-radius: 0px 0px 0px 250px;
  box-shadow: white 0px 0px 10px 2px;
}
#simoncirc {
    height: 170px;
    width: 180px;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin-top: 160px;
    margin-left: 42vw;
    position: absolute;
    box-shadow: 0px 0px 0px 0px;
    z-index: 1;
    font-size: 40px;
    font-family: "Anton", sans-serif;
    letter-spacing: 5px;
    line-height: 17px;
    text-align: center;
    padding-top: 15px;
    box-shadow: white 0px 0px 10px 8px;
  }
/* #button-container{
      align-items: center;
      height:450px;;
      width: 100vw;
      padding-top: 0px;
      position: sticky; 
  }
   */
